<h1>Smite Damage Calculator</h1>

<form [formGroup]="smiteForm">
  <div>
    <label for="gDamage">Grief Damage </label>
    <div>
      <input id="gDamage" type="number" formControlName="gDamage" />
    </div>
  </div>
  <br />
  <div>
    <label for="hsMin">Holy Shield Min Damage </label>
    <div>
      <input id="hsMin" type="number" formControlName="hsMin" />
    </div>
  </div>
  <br />
  <div>
    <label for="hsMax">Holy Shield Max Damage </label>
    <div>
      <input id="hsMax" type="number" formControlName="hsMax" />
    </div>
  </div>

  <br />
  <div>
    <label for="sMin">Smite Min Damage </label>
    <div>
      <input id="last-name" type="number" formControlName="sMin" />
    </div>
  </div>
  <br />
  <div>
    <label for="sMax">Smite Max Damage </label>
    <div>
      <input id="sMax" type="number" formControlName="sMax" />
    </div>
  </div>
  <br />
  <div>
    <label for="strEd">Strength </label>
    <div>
      <input id="strEd" type="number" formControlName="strEd" />
    </div>
  </div>

  <br />
  <div>
    <label for="smiteEd">Smite Enhanced Damage </label>
    <div>
      <input id="smiteEd" type="number" formControlName="smiteEd" />
    </div>
  </div>
  <br />
  <div>
    <label for="fanaEd">Fanatacism Enhanced Damage </label>
    <div>
      <input id="fanaEd" type="number" formControlName="fanaEd" />
    </div>
  </div>
  <br />
  <div>
    <label for="offEd">Offhand Enhanced Damage </label>
    <div>
      <input id="offEd" type="number" formControlName="offEd" />
    </div>
  </div>
  <br />
  <div>
    <label for="minDamage" style="font-weight: bold">Min Smite Damage: </label>
    <span id="minDamage">{{ smiteDamage.min }}</span>
  </div>

  <div>
    <label for="maxDamage" style="font-weight: bold">Max Smite Damage: </label>
    <span id="maxDamage">{{ smiteDamage.max }}</span>
  </div>

  <div>
    <label for="aveDamage" style="font-weight: bold"
      >Average Smite Damage:
    </label>
    <span id="aveDamage" style="font-weight: bold; color: blue">{{
      smiteDamage.average
    }}</span>
  </div>

  <div>
    <label for="actualSmiteDamage" style="font-weight: bold"
      >Actual Smite PVP Damage (50 Damage Reduction):
    </label>
    <span id="actualSmiteDamage" style="font-weight: bold; color: red">{{
      actualSmitePvpDamage
    }}</span>
  </div>
</form>

<div style="padding-top: 80px">
  <h1>Damage Reduction Calculator</h1>
  <form [formGroup]="pvpDamageForm">
    <div>
      <label for="damage">Damage</label>
      <div>
        <input id="damage" type="number" formControlName="damage" />
      </div>
    </div>
    <br />
    <div>
      <label for="damageReduction">Damage Reduction </label>
      <div>
        <input
          id="damageReduction"
          type="number"
          formControlName="damageReduction"
        />
      </div>
    </div>
    <div style="padding-top: 20px">
      <label for="actualPvpDamage" style="font-weight: bold"
        >Actual PVP Damage:
      </label>
      <span id="actualPvpDamage" style="font-weight: bold; color: green">{{
        actualPvpDamage
      }}</span>
    </div>
  </form>
</div>
